{{#each products}}
        <div class="productCard">

            <p>Nombre: {{name}}</p>
            <p>ID: {{_id}}</p>
            <p>Precio: ${{price}}</p>
            <p>Stock: {{stock}}</p>
            <p>Imagen: </p>
            
            <img src="https://entrega-final-backend-production.up.railway.app/img/{{this.thumbnail}}" alt="{{this.thumbnail}}">
        </div>
{{/each}}